<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176422100358-m4e5d380cb323drq1sk7i6vakrkddt12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176422100358-m4e5d380cb323drq1sk7i6vakrkddt12</string>
	<key>API_KEY</key>
	<string>AIzaSyCmFPSS5w7wRL3znRctcyPZjgLYmXubxMo</string>
	<key>GCM_SENDER_ID</key>
	<string>176422100358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SocialHub</string>
	<key>PROJECT_ID</key>
	<string>socialhub-cb15e</string>
	<key>STORAGE_BUCKET</key>
	<string>socialhub-cb15e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176422100358:ios:220fa994a185222b9f6007</string>
</dict>
</plist>